<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge" >
</head>
<body>
    <form method="POST" action="/">
        Upper Case<input type="checkbox" value = uppercase name ="mycheckbox">
        Lower Case<input type="checkbox" value = lowercase name ="mycheckbox">
        Digit<input type="checkbox"  value = digit name ="mycheckbox">
        Special<input type="checkbox" value = special  name ="mycheckbox">
        <input type="submit">
    </form> 
</body>
</html>