<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge" >
    <title>Your password is generated!</title>
</head>
<body>

    <button onclick="show_password()"> Show Password</button>
    <button onclick="copy_hidden_password()"> Copy Password Without Revealing</button>   
    <p id="hidden_password">Your password is: ********</p>
    <a href="/">Return to home page</a>

    <script>
        function show_password(){
            document.getElementById("hidden_password").innerHTML = "Your password is: {{password}}";
    }

        function copy_hidden_password(){
            navigator.clipboard.writeText("{{password|safe}}")
        }
    </script>

</body>
</html>